<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZMGR.Base.ApuAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\APU FONSAL\Apu_server.mdb&quot;" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
