<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADL.Properties.Settings.KCG_DataConnectionString"
            connectionString="Data Source=.;Initial Catalog=IMPQ;Persist Security Info=True;User ID=sa;Password=nupode;Connect Timeout=0"
            providerName="System.Data.SqlClient" />
        <add name="ADL.Properties.Settings.Local" connectionString="Data Source=.;Initial Catalog=APU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ADL.Properties.Settings.Fonsal" connectionString="Data Source=172.16.15.4;Initial Catalog=APU;Persist Security Info=True;User ID=sa;Password=DBsrvf0nsal;Connect Timeout=0" />
        <add name="ADL.Properties.Settings.SETIM" connectionString="Data Source=k1;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
