
body {
    font-family:Verdana, "Times New Roman", Arial;
	font-size: 11px;
	background-color: #EBECF0;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}

/* TD'S ESPECIFICOS */ 
.tdEstilo{font-family:Arial,Verdana,Times New Roman; font-size:x-small;}




